[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "==0.3.6"
requests = "==2.18.4"
pyodbc = "==4.0.23"
urllib3 = "==1.22"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
flask-cors = "*"
marshmallow = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.6"
